<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Flipkart Web Regression" parallel="false">
    <test name="Web Regression">
        <classes>
            <class name="tests.LoginTests"/>
            <class name="tests.SearchTests"/>
            <class name="tests.CartTests"/>
            <class name="tests.CheckoutTests"/>
            <class name="tests.OrdersTests"/>
            <class name="tests.ReturnsTests"/>
        </classes>
    </test>
</suite>
